.loginsignup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
.loginsignup-container{
    margin: 80px;
    padding: 50px;
    gap: 30px;
    background-color: white;
}
.loginsignup-fields input{
    display: block;
    height: 40px;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
}
.loginsignup-container button{
    margin-top: 20px;
    background-color: red;
    color:white;
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.loginsignup-login span{
    color: red;
    font-weight: 600;
}

.loginsignup-agree{
    display: flex;
    gap: 10px;
    font-size: 15px;
    margin-top: 20px;
}
@media(max-width:1105px){
    
    .loginsignup-container{
        width: auto;
        max-width:500px;
        max-height:500px
    }
    .loginsignup-container h1{
        margin: 7px 0px;
    }
    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 35px;
        width: 93%;
    }
    .loginsignup-container button{
        width: 93%;
    }
    .loginsignup-login{
        font-size: 14px;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 8px;
    }
}
@media(max-width:635px){
        .loginsignup-container{
            padding: 20px 30px;
        }
        .loginsignup-container h1{
            font-size: 30px;
        }
        .loginsignup-fields input{
            height: 30px;
            width: 90%;
            margin-top: 20px;
        }
        .loginsignup-container button{
            width: 90%;
        
        }
        .loginsignup-login{
            font-size: 12px;
        }
        .loginsignup-agree p{
            font-size: 10px;
            gap: 8px;
        }
}
