.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-top: 80px;
    margin-left: 80px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    gap: 100px;
}
.offers-left{
    display: flex;
    flex-direction: column;
}
.offers-left h2{
    font-size: 60px;
    font-weight: 500;
}
.offers-left p{
    font-size: 18px;
    font-weight:500;
}
.offers-left button{
    margin-top: 30px;
    height : 50px;
    width: 200px;
    border: none;
    border-radius : 30px;
    color: white;
    background: red;
    cursor: pointer;
    font-size: 18px;
}
.offers-right img{
    width: 80%;
}

@media(max-width:1104px){
    .offers{
        padding: 0px 80px;
        margin-bottom:120px;
        width: 72%;
    }
    .offers-left h2{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        width: 300px;
    }
    .offers-left button{
        width: 170px;
        height: 40px;
        font-size: 18px;
    }
    .offers-right{
        padding-top: 30px;
    }
}

@media(max-width:950px){

    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        width: 70%;
        margin-left:88px;
    }
    .offers-left h2{
        font-size: 30px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        width: 200px;
    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right{
        padding-top: 10px;
    }
}

@media(max-width:800px){
    .offers{
        margin-bottom: 60px;
        width: 63%;
        margin-left:85px;
    }
    .offers-left h2{
        font-size:  22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-right img{
        width: 140px;
    }
    .offers-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .offers{
        margin-bottom: 70px;
        width: 60%;
        margin-left:30px;
    
    }
    .offers-left h2{
        font-size:16px ;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
        width: 120px;
    }
    .offers-left button{
        width: 120px;
        height: 25px;
        font-size:10px;
        margin-top: 12px;
    }

}