.productdisplay{
    display: flex;
    margin: 0px 100px;
    margin-top: 40px;
}
.productdisplay-left{
    display: flex;
    gap: 18px;
}
.productdisplay-img-list img{
    height: 120px;
    width: 98px;
}
.productdisplay-main-img{
    height: 505px;
    width: 450px;
}

.productdisplay-right{
    display: flex;
    flex-direction: column;
    margin-left:  70px;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-weight: 600;
    font-size: 23px;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 7px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    gap: 30px;
    margin : 17px 0px;
    font-size: 17px;
    font-weight: 500;
}
.productdisplay-right-prices-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-prices-new{
    color: #ff4141;
}
.productdisplay-right-description{
    font-size: 14px;
}
.productdisplay-right-size h1{
    margin-top: 25px;
    color: #656565;
    font-size:20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display:flex ;
    margin: 23px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 10px 18px;
    background-color: #fbfbfb;
    /* border: 1px solid #ebebeb; */
    border: 1px solid #2874f0;
    color: #2874f0;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 18px 38px;
    width: 160px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
}
.productdisplay-right-category span{
    font-weight: 600;
}

@media(max-width:1105px){
    .productdisplay{
        margin:50px 40px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-img-list{
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 90px;
        width: 75px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 420px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdisplay-right-star{
        gap: 3px;
        font-size: 13px;
    }
    .productdisplay-right-prices{
        margin: 10px 0px;
        font-size: 16px;
    }
    .productdisplay-right-description{
        font-size: 13px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right-sizes div{
        padding: 14px 20px;
    }
    .productdisplay-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px; 
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 14px;  
    }
}

@media(max-width:950px){
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }

    .productdisplay-img-list img{
        width: 70px;
        height: 80px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 350px;
    }
    .productdisplay-right h1{
        font-size: 16px;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-right-description{
        font-size: 12px;
    }
    .productdisplay-right-size{
        margin-top: 20px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px; 
        font-size: 11px;
    }
    .productdisplay-right-category{
        font-size: 12px;  
    }
}

@media(max-width:800px){
    .productdisplay{
        margin: 0px 27px;
    }
    .productdisplay-left{
        flex-direction: column-reverse;
    }
    .productdisplay-img-list {
        display: flex;
        width: 100px;
    }
    .productdisplay-img-list img{
        height: 68px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 310px;
    }
    .productdisplay-right h1{
        font-size: 15px;
    }
    .productdisplay-right-star img{
        width: 13px;
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px 
    }
    .productdisplay-right-sizes{
        gap: 7px;
    }
    .productdisplay-right-sizes div{
        padding: 4px 9px;
    }
    .productdisplay-right button{
        width: 100px;
        font-size: 10px;
    }
    .productdisplay-right-category{
        font-size: 10px;  
    }
}
@media(max-width:500px){
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 13px;
        flex-direction: row;
    }
    .productdisplay-img-list {
        flex-direction: column;
        width: 100px;
    }
    .productdisplay-img-list img{
        width: 70px;
        height: 78px;
    }
    .productdisplay-main-img{
        width: auto;
        height: 330px;
    }
    .productdisplay-right {
        margin: 5px;  
    }
    .productdisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-right-description{
        font-size: 12px;
    }
    .productdisplay-right-size{
        margin-top: 20px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px; 
        font-size: 11px;
    }
    .productdisplay-right-category{
        font-size: 12px;  
    }
}
